.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  width: 100%;
  background-color: #071d36;
  overflow: auto;
  font-family: "Comic Sans MS, Comic Sans, cursive";
}

.navbar a {
  float: left;
  padding: 5px;
  margin: 15px;
  color: rgb(246, 243, 247);
  text-decoration: none;
  display: flex;
  font-size: 50px;
  height: 50px;
  /* width: 25%; Four links of equal widths */
  text-align: center;
  font-family: "Comic Sans MS, Comic Sans, cursive";
}

.city-pic{

}

.home-title {
  padding-top: 35px;
  padding-left: 110px;
  color: white;
  font-size: 70px;
  font-family: cursive;
}

.home-div {
  padding-top: 0px;
  padding-left: 75px;
  padding-right: 75px;
  color: white;
  font-size: 25px;
  font-family: "Comic Sans MS, Comic Sans, cursive";
}

.resume-pic {
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}
.contact {
  background: radial-gradient(#4f87c7, #1f1013);
}
.live-coding {
  background: radial-gradient(#4f87c7, #1f1013);
  display: inline-block;
}
.navbar a:hover {
  background-color: rgb(110, 107, 110);
}

.navbar a.active {
  background-color: #04aa6d;
}

.home {
  margin: 0;
  height: 100vh;
  font-weight: 100;
  background: radial-gradient(#4f87c7, #1f1013);
  -webkit-overflow-y: hidden;
  -moz-overflow-y: hidden;
  -o-overflow-y: hidden;
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}

.pic {
  height: 350px;
  width: 350px;
  padding-top: 100px;
  float: left;
  padding-right: 100px;
  padding-left: 100px;
}

/* .button-images {
  height: 100px;
  width: 100px;
  padding-top: 100px;
  float: left; 
  padding-right: 100px;
  padding-left: 100px;
} */

.video-images {
  height: 300px;
  width: 400px;
  padding-top: 100px;
  float: left;
  padding-right: 100px;
  padding-left: 100px;
}

.tech-pics {
  height: 100px;
  width: 200px;
  padding-top: 100px;

  padding-right: 250px;
}
.project {
  padding-top: 100px;
 
}

#project-image a:hover {
  background-color: rgb(236, 223, 234);
  height: 300px;
  width: 400px;
  padding-left: 700px;
}

.projects-container {
  background: radial-gradient(#4f87c7, #1f1013);
  display: inline-block;
  width: 100%;
  padding-bottom: 500px;
}

.tech-pics-container {
  width: 100px;
  height: 100px;
  /* display: inline-block; */
  display: flex;
}

.github {
  width: 60px;
  height: 60px;
  background-color: rgb(241, 231, 231);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text{
  color: white
}
